.popup__save_disabled {
  color: #c4c4c4;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.popup__save_disabled:hover {
  background-color: transparent;
  cursor: default;
}